
.body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button{
  cursor: pointer;
  padding: .8rem;
  border-radius: 2rem;
  border: 0;
  font-size: 1rem;
  background-color:orangered;
}
